<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--加载requirejs-->
    <!-- build:js ../js/vendor.js -->
    <script src="../js/vendor/require.min.js"></script>
    <script src="../js/lib/lib.js"></script>
    <!-- endbuild -->
    <script src="../js/component/vuecomponent.js"></script>
    <script src="../js/lib/webLib/requireconfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <link rel="stylesheet" href="../../dev/css/style-index.css">
</head>
<body class="aboutPage Page">
<% include template/c-headnav.html %>

<!--cookBooks-main 开始-->
<div class="aboutPage-main PB-80 PT-65">

    <div class="main">

        <div class="main-title">

            <ul class="main-title-list clearfix">

                <li class="main-title-item main-title-item_active">

                    <a href="javascript:">

                        <div class="item-zh">
                            派仔公司简介
                        </div>

                        <div class="item-eg">
                            COMPANY PROFILE
                        </div>

                    </a>

                </li>

                <li class="main-title-item">

                    <a href="javascript:">

                        <div class="item-zh">
                            全国布局
                        </div>

                        <div class="item-eg">
                            NATIONAL LAYOUT
                        </div>

                    </a>

                </li>

                <li class="main-title-item">

                    <a href="javascript:">

                        <div class="item-zh">
                            企业文化
                        </div>

                        <div class="item-eg">
                            CORPORATE CULTURE
                        </div>

                    </a>

                </li>

            </ul>

        </div>

        <div class="main-body MT-50">

            <div class="content" id="mainContent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content-text">
                            制作方法
                        </div>
                        <div class="content-main">
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                            <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p> <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>

        </div>

    </div>

</div>

<script>
    require(['swiper2','swiperScrollbar'],function (Swiper) {
        new Swiper('#mainContent',{
            scrollContainer:true,
            mousewheelControl : true,
            mode:'vertical',
            //其他设置
            scrollbar: {
                container : '.swiper-scrollbar',
                draggable : true,
                hide: true,
                snapOnRelease: true
            }
        });
    })
</script>

<!--cookBooks-main 结束-->

<% include template/c-footer.html %>
</body>

</html>