<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>新闻中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--加载requirejs-->
    <!-- build:js ../js/vendor.js -->
    <script src="../js/vendor/require.min.js"></script>
    <script src="../js/lib/lib.js"></script>
    <script src="../js/plus/plus.js"></script>
    <!-- endbuild -->
    <script src="../js/component/vuecomponent.js"></script>
    <script src="../js/lib/webLib/requireconfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <link rel="stylesheet" href="../../dev/css/style-index.css">

    <!--[if lt IE 9]>
        <style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
</head>
<body class="companyCenterPage Page">
    <% include template/c-headnav.html %>

    <!--companyCenter-main 开始-->
    <section class="companyCenter-main" >

        <div class="main">

            <div class="main-title">

                <div class="main-title-wrapper">

                    <img src="../img/companyCenter/title.png"></img>

                </div>

            </div>

            <div class="main-body" id="mainBody">

                <div class="main-body-wrapper">

                    <div class="main-body-title clearfix">

                        <div class="title-img">

                            <img src="../img/companyCenter/news.png" alt="">
                            
                        </div>

                        <div class="title-text">

                            <div class="title-text-title clearfix">

                                <h3 class="text">
                                    派仔豆本豆豆奶隆重上市,引领国民营养新时代派仔豆本豆豆奶隆重
                                </h3>

                                <div class="date">
                                    2017-04-11
                                </div>

                            </div>

                            <div class="title-text-main" >
                                <p data-omit="124">4月10日，派仔食品在惠安达利世纪酒店召开“豆本豆新品上市发布会”，一举推出不添加的原味豆奶、不添加蔗糖的纯豆奶、国家权威有机认证的有机豆奶三大系列产品，形象代言人孙俪倾情推荐，强势进军液态豆奶产业。液态豆奶产业。产业。液态豆奶产业产业。液态豆奶产业</p>

                                <a href="javascript:" class="more">
                                    查看详情
                                </a>
                            </div>

                        </div>

                    </div>

                    <ul class="main-body-list" id="listMain">
                        <li class="list-item">
                           <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                           </a>
                       </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="javascript:" class="db" class="container-fluid">
                                <div class="row list-item-row">
                                    <div class="col-xs-3 row-title">
                                        2017-05-10
                                    </div>
                                    <div class="col-xs-9 row-text">
                                        派仔食品集团4月份再创佳绩,豆本都引爆全国
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="main-body-pagination">
                        <dr-pagination :maxpage="pagination.maxpage" :page.sync="pagination.page"  @pagechange="Fngoto"></dr-pagination>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <script type="text/x-handlebars-template" id="newsItemTpl">
        {{#each items}}
            <li class="list-item">
                <a href="{{href}}" class="db" class="container-fluid">
                    <div class="row list-item-row">
                        <div class="col-xs-3 row-title">
                            {{date}}
                        </div>
                        <div class="col-xs-9 row-text">
                            {{text}}
                        </div>
                    </div>
                </a>
            </li>
        {{/each}}
    </script>

    <script>
        require(['jquery','lodash','vue','pagination2','layer','handlebars'],function ($,_,Vue,pagination,layer,Handlebars) {
            var NewsCompile = Handlebars.compile($("#newsItemTpl").html());
            var Page = new Vue({
                el:"#mainBody",
                data:{
                    pagination:{
                        maxpage:5,
                        page:1
                    }
                },
                components:{
                    "dr-pagination":pagination
                },
                mounted:function () {
                    var pageMod = (function () {
                        var Dom = {
                            omit:$("[data-omit]")
                        };
                        function omit(){
                            Dom.omit.each(function (index,item) {
                                var ele = $(item);
                                var limit = ele.data()['omit'];
                                ele.text(_.truncate(ele.text(),{
                                    'length': limit,
                                }))
                            })
                        }
                        function main(){
                            omit();
                        }
                        main()
                    })()
                },
                methods:{
                    Fngoto:function (page) {
                        var self = this;
                        if(page !== this.pagination.page){
                            layer.load();
                            $.get("http://www.easy-mock.com/mock/5960750f9adc231f357bccdf/getItem/getnews",{p:page}).done(function (Rs) {
                                $("#listMain").html(NewsCompile(Rs));
                                self.pagination.maxpage = Rs.maxpage;
                                layer.closeAll();
                            });
                        }
                    }
                }
            });
        })
    </script>

    <!--companyCenter-main 结束-->

    <% include template/c-footer.html %>

</body>
</html>