<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>新闻中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--加载requirejs-->
    <!-- build:js ../js/vendor.js -->
    <script src="../js/vendor/require.min.js"></script>
    <script src="../js/lib/lib.js"></script>
    <!-- endbuild -->
    <script src="../js/component/vuecomponent.js"></script>
    <script src="../js/lib/webLib/requireconfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <link rel="stylesheet" href="../../dev/css/style-index.css">

    <!--[if lt IE 9]>
        <style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
</head>
<body class="companynewsPage Page">
<% include template/c-headnav.html %>

<!--companyCenter-main 开始-->
<section class="companyCenter-main" >

    <div class="main">

        <div class="main-title">

            <div class="main-title-wrapper">

                <img src="../img/companyCenter/title.png"></img>

            </div>

        </div>


        <div class="main-news">

            <div class="main-news-wrapper">

                <div class="main-news-container" id="mainNews">

                    <div class="body">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">

                                 <div class="title">
                                     <h2 class="title-text">派达食品集团4月份再创佳绩,豆本豆引爆全国</h2>
                                     <p class="title-date">
                                         2017-05-10
                                     </p>
                                 </div>

                                 <div class="wrapper  MT-20"></div>

                                <p>
                                    百度百科开启权威编辑项目，与各行业垂直领域权威机构合作，这一系列的举措进一步提高词条的专业质量，实现从<a target="_blank" href="http://baike.baidu.com/item/UGC/66502" style="color: rgb(19, 110, 194); text-decoration: none;">UGC</a><em>（用户生产内容）</em>到<a target="_blank" href="http://baike.baidu.com/item/PGC" style="color: rgb(19, 110, 194); text-decoration: none;">PGC</a><em>（专家生产内容）</em>的转变。而且2014年以来，突破了传统的百科功能，百度百科不仅集聚了逻辑严谨、内容丰富的文字内容，对于图片的表现形式也颇为多样化。同时，百度百科还可作为多种网络平台的“中心点”，并有望串联起包括社交网站、视频网站、新闻资讯、相关产品等网络信息，实现信息最大价值化<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[31]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>&nbsp;。
                                </p>
                                <p>
                                    在互联网时代，百度百科可以满足大部分网民迅速获取知识的需求，而且向所有人开放了一个免费获取知识的途径，实现了互联网时代的“开启民智”。百度百科是一本网络百科全书，互联网百科类产品从技术角度并无门槛，而其强大的内容生产能力、可以为用户提供权威、可信的知识是百度百科的核心竞争力。<em>（赛迪网）</em>
                                </p>
                                <p>
                                    百度百科利用“<a target="_blank" href="http://baike.baidu.com/item/%E8%AF%8D%E5%AA%92%E4%BD%93" style="color: rgb(19, 110, 194); text-decoration: none;">词媒体</a>”方式呈现新闻，一个重点新闻事件出现之后，用户会淹没在各种新闻列表中，而百度百科尝试用“词媒体”的方式来整理清楚来龙去脉，这属于百度百科的一个创新，可以让更多的网民可以更快，更精准的获取信息知识。
                                </p>
                                <p>
                                    百度百科已经在尝试探索品牌数字博物馆、城市百科等合作项目，通过各种技术手段，把各类机构的内容借助百科的平台传递给更多的用户，一方面可以对合作机构品牌影响力的提升，同时也给用户提供给更多有价值的信息。这类应用不仅可以用在展馆，还可以用在植物园、动物园等多种场景，这样的合作同样可以用在多种商业场景，新技术展示、新产品发布、新概念传播等，通过这些技术和创新技术，不仅仅让百度百科成为一本人人可以获得知识的中文百科全书，更重要的是它可以让更多的信息以更加生动的形式呈现在互联网网民的面前。
                                </p>
                                <p>
                                    <a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6" style="color: rgb(19, 110, 194); text-decoration: none;">百度</a>百科作为知识平台，节省了人们记忆大量内容的成本，可以做到随用随取且及时准确，不会给大脑造成负担，且不会受记忆偏差的影响。在人类从认知黑箱走向科学文明的过程中，掌握更多学科知识的人，点亮了这个世界；<a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6%E7%99%BE%E7%A7%91" style="color: rgb(19, 110, 194); text-decoration: none;">百度百科</a>的存在，以互联网工具让每个人都成为有望推动文明进化节点到来的那个人。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    百度百科成功做到了传播广度与深度的结合，让“词媒体”与“权威知识平台”形成完美统一。
                                </p>
                                <p>
                                    百度百科，以人人可编辑的模式，将碎片化的知识重新组合起来，在不增加人脑负担的同时，建立起人们与各学科之间互通的触点，从而以更简单的方式创造跨界的可能性。
                                </p>
                                <p>
                                    人人可编辑，意味着人人都在<a target="_blank" href="http://baike.baidu.com/item/%E8%B4%A1%E7%8C%AE" style="color: rgb(19, 110, 194); text-decoration: none;">贡献</a>自己的知识，同时也意味着人人都能够轻松从中获取所需。在“百科全书式”人物基本已不可能再出现的情况下，百度百科人人可编辑带来了另一种推动文明发展的方式。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    <br/>
                                </p>
                                <p>
                                    百度百科开启权威编辑项目，与各行业垂直领域权威机构合作，这一系列的举措进一步提高词条的专业质量，实现从<a target="_blank" href="http://baike.baidu.com/item/UGC/66502" style="color: rgb(19, 110, 194); text-decoration: none;">UGC</a><em>（用户生产内容）</em>到<a target="_blank" href="http://baike.baidu.com/item/PGC" style="color: rgb(19, 110, 194); text-decoration: none;">PGC</a><em>（专家生产内容）</em>的转变。而且2014年以来，突破了传统的百科功能，百度百科不仅集聚了逻辑严谨、内容丰富的文字内容，对于图片的表现形式也颇为多样化。同时，百度百科还可作为多种网络平台的“中心点”，并有望串联起包括社交网站、视频网站、新闻资讯、相关产品等网络信息，实现信息最大价值化<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[31]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>&nbsp;。
                                </p>
                                <p>
                                    在互联网时代，百度百科可以满足大部分网民迅速获取知识的需求，而且向所有人开放了一个免费获取知识的途径，实现了互联网时代的“开启民智”。百度百科是一本网络百科全书，互联网百科类产品从技术角度并无门槛，而其强大的内容生产能力、可以为用户提供权威、可信的知识是百度百科的核心竞争力。<em>（赛迪网）</em>
                                </p>
                                <p>
                                    百度百科利用“<a target="_blank" href="http://baike.baidu.com/item/%E8%AF%8D%E5%AA%92%E4%BD%93" style="color: rgb(19, 110, 194); text-decoration: none;">词媒体</a>”方式呈现新闻，一个重点新闻事件出现之后，用户会淹没在各种新闻列表中，而百度百科尝试用“词媒体”的方式来整理清楚来龙去脉，这属于百度百科的一个创新，可以让更多的网民可以更快，更精准的获取信息知识。
                                </p>
                                <p>
                                    百度百科已经在尝试探索品牌数字博物馆、城市百科等合作项目，通过各种技术手段，把各类机构的内容借助百科的平台传递给更多的用户，一方面可以对合作机构品牌影响力的提升，同时也给用户提供给更多有价值的信息。这类应用不仅可以用在展馆，还可以用在植物园、动物园等多种场景，这样的合作同样可以用在多种商业场景，新技术展示、新产品发布、新概念传播等，通过这些技术和创新技术，不仅仅让百度百科成为一本人人可以获得知识的中文百科全书，更重要的是它可以让更多的信息以更加生动的形式呈现在互联网网民的面前。
                                </p>
                                <p>
                                    <a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6" style="color: rgb(19, 110, 194); text-decoration: none;">百度</a>百科作为知识平台，节省了人们记忆大量内容的成本，可以做到随用随取且及时准确，不会给大脑造成负担，且不会受记忆偏差的影响。在人类从认知黑箱走向科学文明的过程中，掌握更多学科知识的人，点亮了这个世界；<a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6%E7%99%BE%E7%A7%91" style="color: rgb(19, 110, 194); text-decoration: none;">百度百科</a>的存在，以互联网工具让每个人都成为有望推动文明进化节点到来的那个人。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    百度百科成功做到了传播广度与深度的结合，让“词媒体”与“权威知识平台”形成完美统一。
                                </p>
                                <p>
                                    百度百科，以人人可编辑的模式，将碎片化的知识重新组合起来，在不增加人脑负担的同时，建立起人们与各学科之间互通的触点，从而以更简单的方式创造跨界的可能性。
                                </p>
                                <p>
                                    人人可编辑，意味着人人都在<a target="_blank" href="http://baike.baidu.com/item/%E8%B4%A1%E7%8C%AE" style="color: rgb(19, 110, 194); text-decoration: none;">贡献</a>自己的知识，同时也意味着人人都能够轻松从中获取所需。在“百科全书式”人物基本已不可能再出现的情况下，百度百科人人可编辑带来了另一种推动文明发展的方式。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    <br/>
                                </p>
                                <p>
                                    百度百科开启权威编辑项目，与各行业垂直领域权威机构合作，这一系列的举措进一步提高词条的专业质量，实现从<a target="_blank" href="http://baike.baidu.com/item/UGC/66502" style="color: rgb(19, 110, 194); text-decoration: none;">UGC</a><em>（用户生产内容）</em>到<a target="_blank" href="http://baike.baidu.com/item/PGC" style="color: rgb(19, 110, 194); text-decoration: none;">PGC</a><em>（专家生产内容）</em>的转变。而且2014年以来，突破了传统的百科功能，百度百科不仅集聚了逻辑严谨、内容丰富的文字内容，对于图片的表现形式也颇为多样化。同时，百度百科还可作为多种网络平台的“中心点”，并有望串联起包括社交网站、视频网站、新闻资讯、相关产品等网络信息，实现信息最大价值化<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[31]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>&nbsp;。
                                </p>
                                <p>
                                    在互联网时代，百度百科可以满足大部分网民迅速获取知识的需求，而且向所有人开放了一个免费获取知识的途径，实现了互联网时代的“开启民智”。百度百科是一本网络百科全书，互联网百科类产品从技术角度并无门槛，而其强大的内容生产能力、可以为用户提供权威、可信的知识是百度百科的核心竞争力。<em>（赛迪网）</em>
                                </p>
                                <p>
                                    百度百科利用“<a target="_blank" href="http://baike.baidu.com/item/%E8%AF%8D%E5%AA%92%E4%BD%93" style="color: rgb(19, 110, 194); text-decoration: none;">词媒体</a>”方式呈现新闻，一个重点新闻事件出现之后，用户会淹没在各种新闻列表中，而百度百科尝试用“词媒体”的方式来整理清楚来龙去脉，这属于百度百科的一个创新，可以让更多的网民可以更快，更精准的获取信息知识。
                                </p>
                                <p>
                                    百度百科已经在尝试探索品牌数字博物馆、城市百科等合作项目，通过各种技术手段，把各类机构的内容借助百科的平台传递给更多的用户，一方面可以对合作机构品牌影响力的提升，同时也给用户提供给更多有价值的信息。这类应用不仅可以用在展馆，还可以用在植物园、动物园等多种场景，这样的合作同样可以用在多种商业场景，新技术展示、新产品发布、新概念传播等，通过这些技术和创新技术，不仅仅让百度百科成为一本人人可以获得知识的中文百科全书，更重要的是它可以让更多的信息以更加生动的形式呈现在互联网网民的面前。
                                </p>
                                <p>
                                    <a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6" style="color: rgb(19, 110, 194); text-decoration: none;">百度</a>百科作为知识平台，节省了人们记忆大量内容的成本，可以做到随用随取且及时准确，不会给大脑造成负担，且不会受记忆偏差的影响。在人类从认知黑箱走向科学文明的过程中，掌握更多学科知识的人，点亮了这个世界；<a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6%E7%99%BE%E7%A7%91" style="color: rgb(19, 110, 194); text-decoration: none;">百度百科</a>的存在，以互联网工具让每个人都成为有望推动文明进化节点到来的那个人。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    百度百科成功做到了传播广度与深度的结合，让“词媒体”与“权威知识平台”形成完美统一。
                                </p>
                                <p>
                                    百度百科，以人人可编辑的模式，将碎片化的知识重新组合起来，在不增加人脑负担的同时，建立起人们与各学科之间互通的触点，从而以更简单的方式创造跨界的可能性。
                                </p>
                                <p>
                                    人人可编辑，意味着人人都在<a target="_blank" href="http://baike.baidu.com/item/%E8%B4%A1%E7%8C%AE" style="color: rgb(19, 110, 194); text-decoration: none;">贡献</a>自己的知识，同时也意味着人人都能够轻松从中获取所需。在“百科全书式”人物基本已不可能再出现的情况下，百度百科人人可编辑带来了另一种推动文明发展的方式。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    <br/>
                                </p>
                                <p>
                                    百度百科开启权威编辑项目，与各行业垂直领域权威机构合作，这一系列的举措进一步提高词条的专业质量，实现从<a target="_blank" href="http://baike.baidu.com/item/UGC/66502" style="color: rgb(19, 110, 194); text-decoration: none;">UGC</a><em>（用户生产内容）</em>到<a target="_blank" href="http://baike.baidu.com/item/PGC" style="color: rgb(19, 110, 194); text-decoration: none;">PGC</a><em>（专家生产内容）</em>的转变。而且2014年以来，突破了传统的百科功能，百度百科不仅集聚了逻辑严谨、内容丰富的文字内容，对于图片的表现形式也颇为多样化。同时，百度百科还可作为多种网络平台的“中心点”，并有望串联起包括社交网站、视频网站、新闻资讯、相关产品等网络信息，实现信息最大价值化<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[31]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>&nbsp;。
                                </p>
                                <p>
                                    在互联网时代，百度百科可以满足大部分网民迅速获取知识的需求，而且向所有人开放了一个免费获取知识的途径，实现了互联网时代的“开启民智”。百度百科是一本网络百科全书，互联网百科类产品从技术角度并无门槛，而其强大的内容生产能力、可以为用户提供权威、可信的知识是百度百科的核心竞争力。<em>（赛迪网）</em>
                                </p>
                                <p>
                                    百度百科利用“<a target="_blank" href="http://baike.baidu.com/item/%E8%AF%8D%E5%AA%92%E4%BD%93" style="color: rgb(19, 110, 194); text-decoration: none;">词媒体</a>”方式呈现新闻，一个重点新闻事件出现之后，用户会淹没在各种新闻列表中，而百度百科尝试用“词媒体”的方式来整理清楚来龙去脉，这属于百度百科的一个创新，可以让更多的网民可以更快，更精准的获取信息知识。
                                </p>
                                <p>
                                    百度百科已经在尝试探索品牌数字博物馆、城市百科等合作项目，通过各种技术手段，把各类机构的内容借助百科的平台传递给更多的用户，一方面可以对合作机构品牌影响力的提升，同时也给用户提供给更多有价值的信息。这类应用不仅可以用在展馆，还可以用在植物园、动物园等多种场景，这样的合作同样可以用在多种商业场景，新技术展示、新产品发布、新概念传播等，通过这些技术和创新技术，不仅仅让百度百科成为一本人人可以获得知识的中文百科全书，更重要的是它可以让更多的信息以更加生动的形式呈现在互联网网民的面前。
                                </p>
                                <p>
                                    <a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6" style="color: rgb(19, 110, 194); text-decoration: none;">百度</a>百科作为知识平台，节省了人们记忆大量内容的成本，可以做到随用随取且及时准确，不会给大脑造成负担，且不会受记忆偏差的影响。在人类从认知黑箱走向科学文明的过程中，掌握更多学科知识的人，点亮了这个世界；<a target="_blank" href="http://baike.baidu.com/item/%E7%99%BE%E5%BA%A6%E7%99%BE%E7%A7%91" style="color: rgb(19, 110, 194); text-decoration: none;">百度百科</a>的存在，以互联网工具让每个人都成为有望推动文明进化节点到来的那个人。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    百度百科成功做到了传播广度与深度的结合，让“词媒体”与“权威知识平台”形成完美统一。
                                </p>
                                <p>
                                    百度百科，以人人可编辑的模式，将碎片化的知识重新组合起来，在不增加人脑负担的同时，建立起人们与各学科之间互通的触点，从而以更简单的方式创造跨界的可能性。
                                </p>
                                <p>
                                    人人可编辑，意味着人人都在<a target="_blank" href="http://baike.baidu.com/item/%E8%B4%A1%E7%8C%AE" style="color: rgb(19, 110, 194); text-decoration: none;">贡献</a>自己的知识，同时也意味着人人都能够轻松从中获取所需。在“百科全书式”人物基本已不可能再出现的情况下，百度百科人人可编辑带来了另一种推动文明发展的方式。<span style="font-size: 12px; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; margin-left: 2px; color: rgb(51, 102, 204); cursor: default; padding: 0px 2px;">[32]</span><a class="sup-anchor" style="color: rgb(19, 110, 194); position: relative; top: -50px; font-size: 0px; line-height: 0;">&nbsp;</a>
                                </p>
                                <p>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<script>
    require(['swiper2','swiperScrollbar'],function (Swiper) {
        //初始化 swiper
        new Swiper('.main-news-container .body',{
            scrollContainer:true,
            mousewheelControl : true,
            mode:'vertical',
            //其他设置
            scrollbar: {
                container : '.swiper-scrollbar',
                draggable : true,
                hide: false,
                snapOnRelease: false
            }
        });
    })
</script>

<!--companyCenter-main 结束-->

<% include template/c-footer.html %>

</body>
</html>