<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>产品中心</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!--加载requirejs-->
        <!-- build:js ../js/vendor.js -->
        <script src="../js/vendor/require.min.js"></script>
        <script src="../js/lib/lib.js"></script>
        <script src="../js/plus/plus.js"></script>
        <!-- endbuild -->
        <script src="../js/component/vuecomponent.js"></script>
        <script src="../js/lib/webLib/requireconfig.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
        <link rel="stylesheet" href="../../dev/css/style-index.css">

        <!--[if lt IE 9]>
        <style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
    </head>
    <body class="productPage Page">
            <% include template/c-headnav.html %>

            <section class="product-main" id="productMain">

                    <div class="main">

                        <div class="main-wrapper clearfix">

                            <div class="pull-left main-pic">

                                <router-view></router-view>

                            </div>

                            <div class="pull-left main-list clearfix ML-30">

                                <ul id="mainList">

                                    <li class="main-list-item">
                                        <a href="#/2">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="#/3">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods02.png)">

                                            </div>
                                            <div class="item-text">
                                                风味豆豉油
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="#/4">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="#/5">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="javascript:">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods02.png)">

                                            </div>
                                            <div class="item-text">
                                                风味豆豉油
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="javascript:">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="javascript:">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="javascript:">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods02.png)">

                                            </div>
                                            <div class="item-text">
                                                风味豆豉油
                                            </div>
                                        </a>
                                    </li>

                                    <li class="main-list-item">
                                        <a href="javascript:">
                                            <div class="item-img" style="background-image: url(../img/aboutus/goods01.png)">

                                            </div>
                                            <div class="item-text">
                                                油辣椒275G
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                                <dr-pagination :maxpage="pagination.maxpage" :page="pagination.page" @pagechange="Fngetgoods"></dr-pagination>

                            </div>

                        </div>

                    </div>

                </section>

            <% include template/c-footer.html %>

            <script type="text/x-handlebars-template" id="goodsTpl">
                <div class="goodsinforBox-wrapper">

                 <transition name="fade">
                    <div class="goodsinforBox" v-if="state">
                        <div class="main-pic-swiper" :id="id">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-goods">
                                    <img src="../img/aboutus/goods.png" alt="">
                                </div>

                                <div class="swiper-slide swiper-goods">
                                    <img src="../img/aboutus/goods.png" alt="">
                                </div>

                                <div class="swiper-slide swiper-goods">
                                    <img src="../img/aboutus/goods.png" alt="">
                                </div>

                            </div>

                            <div class="swiper-leftArrow iconfont icon-iconfontjiantou4" :id="id + '_leftArrow'">

                            </div>
                            <div class="swiper-rightArrow iconfont icon-iconfontjiantou3" :id="id + '_rightArrow'">

                            </div>
                        </div>
                        <div class="swiper-pagination" :id="id + '_pagination'">

                        </div>
                        <div class="goodsinforBox-text" id="goodsinforBoxText">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <p>纳豆是以黄豆（又称大豆）为原料，与纳豆菌接种后经过高温发酵等多种工序制作而成。纳豆源于中国，纳豆传入日本后将其作为营养食品和调味品。</p>
                                    <p>纳豆类似中国的发酵豆、怪味豆。纳豆的保健功能主要与其中的纳豆激酶、纳豆异黄酮、皂青素</p>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                 </transition>

                <transition name="fade">
                    <div class="goodsinforBox-loading" v-if="!state">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </div>
                </transition>

                </div>
            </script>

            <!--商品列表模板-->
            <script type="text/x-handlebars-template" id="goodsItemTpl">
                {{each items}}
                    <li class="main-list-item">
                        <a href="{{$value.href}}">
                            <div class="item-img" style="background-image: url({{$value.img}})">

                            </div>
                            <div class="item-text">
                                {{$value.text}}
                            </div>
                        </a>
                    </li>
                {{/each}}
            </script>


            <script>
                require(['../js/page/productcenter'])
            </script>

        </body>
</html>