<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--加载requirejs-->
    <!-- build:js ../js/vendor.js -->
    <script src="../js/vendor/require.min.js"></script>
    <script src="../js/lib/lib.js"></script>
    <!-- endbuild -->
    <script src="../js/component/vuecomponent.js"></script>
    <script src="../js/lib/webLib/requireconfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <link rel="stylesheet" href="../../dev/css/style-index.css">
</head>
<body class="RecruitmentPage Page">
<% include template/c-headnav.html %>

<!--cookBooks-main 开始-->
<div class="RecruitmentPage-main PB-80 PT-65">

    <div class="main">

        <div class="main-title">



        </div>

        <div class="main-body">

        </div>

    </div>

</div>

<!--cookBooks-main 结束-->

<% include template/c-footer.html %>
</body>

</html>