//去除移动端的点击
@mixin mxclearHref(){
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

//居中设置
@mixin mxverticalCenter($W,$H){
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -$W/2;
  margin-top: -$H/2;
}

//warpper方法
@mixin mxwarpper($W,$H){
  position: relative;
  left: (100% - $W)/2;
  top:(100% - $H)/2;
  height: $H;
  width: $W;
}

//省略号方法
@mixin mxomit(){
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
