<!--c-footer 开始-->
<footer class="c-footer MT-15">

    <div class="footer">

        <div class="footer-wrapper container-fluid">

            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a href="javascript:" class="db">
                        新闻中心
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="javascript:" class="db">
                        资质荣耀
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="javascript:" class="db">
                        人才招聘
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="javascript:" class="db">
                        在线反馈
                    </a>
                </li>
            </ul>

            <div class="footer-note">
                湖南派仔食品有限公司 &nbsp; 黔ICP备11002794号-1 <a href="http://www.nx90.com/" target="_blank">点燃网络创意策划</a>
            </div>

        </div>

    </div>

</footer>
<!--c-footer 结束-->