<!--c-headNav 开始-->
<header class="c-headNav">

    <div class="headNav">

        <div class="headNav-logo">

            <img src="../img/common/logo.png" alt="">
            
        </div>

        <div class="headNav-menu">
            <div class="headNav-menu-wrapper">
                <ul class="headNav-menu-list">
                    <li class="headNav-menu-item headNav-menu-item_active">
                        <a href="javascript:" class="db">
                            首页
                        </a>
                    </li>
                    <li class="headNav-menu-item">
                        <a href="javascript:" class="db">
                            关于我们
                        </a>
                    </li>
                    <li class="headNav-menu-item">
                        <a href="javascript:" class="db">
                            产品中心
                        </a>
                    </li>
                    <li class="headNav-menu-item">
                        <a href="javascript:" class="db">
                        美食菜谱
                        </a>
                    </li>
                    <li class="headNav-menu-item">
                        <a href="javascript:" class="db">
                        联系我们
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</header>
<!--c-headNav 结束-->